{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set tabs = {
rating: { label: "Ratings"|t, url: url('rating')},
settings: { label: " Settings"|t, url: url('rating/settings'), dataIcon: 'settings', liClass: 'right' }
} %}

{# remove rating tab if we're on it #}
{% if craft.request.segment(2) != 'settings' %}
    {% set tabs = tabs|slice(1, 2) %}
{% endif %}

{% block head %}
    {% registerassetbundle 'craft\\plugins\\rating\\web\\assets\\Cp' -%}
    {{ parent() }}
{% endblock %}

{% block main %}
    {% set sidebar = sidebar is defined ? sidebar : block('sidebar')|trim %}
    {% set hasSidebar = (sidebar is not empty) %}
    {% set hasHelp = (docsUrl is defined and docsUrl is not empty) %}

    <div class="grid">
        <div class="item">
            <div class="pane">
                {% if tabs is defined and tabs %}
                    {% include "rating/_includes/tabs" %}
                {% endif %}

                <div id="content"
                     class="content{% if hasSidebar %} has-sidebar{% endif %}{% if hasHelp %} has-help{% endif %}">
                    {% if hasSidebar %}
                        <div id="sidebar" class="sidebar">
                            {{ sidebar|raw }}
                        </div>
                    {% endif %}

                    <div class="body">
                        {% block content %}
                            {{ content is defined ? content }}
                        {% endblock %}
                    </div>

                    {% if hasHelp %}
                        <a id="help" class="help" title="{{ 'Help'|t('app') }}" href="{{ docsUrl }}"
                           target="_blank"></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}